/* hero section */

.hero-section{
    height: 100vh;
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 0;
}

.hero-section .label{
    color: #BBBDC3;
    font-size: 22px;
    font-weight: 500;
}

.hero-section .title{
    width: 80%;
    font-size: 52px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

@media (max-width: 576px) {
    .hero-section .label{
        font-size: 18px;
    }
    
    .hero-section .title{
        width: 80%;
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .hero-section{
        padding: 20px;
    }
    .hero-section .label{
        font-size: 20px;
    }
    
    .hero-section .title{
        width: 80%;
        font-size: 32px;
    }
}

/* last post section */

.last-post-section .content{
    padding: 180px 80px 120px 80px !important;
}
.last-post-section .content .image-wrap{
    height: 510px;
    width: 510px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 20px;
}

@media (max-width: 576px) {
    .last-post-section .content{
        padding: 20px !important;
    }

    .last-post-section .content .image-wrap{
        height: 200px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .last-post-section .content{
        padding: 40px 20px !important;
    }

    .last-post-section .content .image-wrap{
        height: 410px;
        width: 100%;
    }
}



.last-post-section .content .btn-social-wrap{
    width: fit-content;
}

.last-post-section .content .btn-social-wrap .btn-social{
    background-color: white;
    border-radius: 12px;
    padding: 8px 28px !important;
    width: fit-content !important;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -45% !important;
    margin-top: 20px !important;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.last-post-section .content .btn-social-wrap .btn-social.show{
    margin-right: -45% !important;
    margin-top: -20px !important;
    opacity: 1;
}

.last-post-section .content .btn-social-wrap .btn-social a{
    text-decoration: none;
}

/* product section */
.product-section{
    padding: 20px 80px ;
}

.product-section .product-card{
    padding: 24px !important;
    border-radius: 24px;
    background-color: #201D2A;
}

.product-section .product-card .image-product{
    height: 280px;
    width: 100%;
    border-radius: 24px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

@media (max-width: 576px) {
    .product-section{
        padding: 20px 10px;
    }
}

@media (max-width: 768px) {
    .product-section{
        padding: 40px 10px;
    }
}